---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
      {% include fork.html %}
    </div>

    <div class="main">
      {% include career-profile.html %}
<a href="cv-gonzalo.pdf" download style="display:inline-block;margin:20px 0;padding:10px 15px;background:#003366;color:#fff;border-radius:5px;text-decoration:none;">📄 Descargar CV en PDF</a>

      {% include experience.html %}
      {% include publications.html %}
      {% include projects.html %}
      {% include volunteering.html %}
    </div>
  </div>
</div>
